<div class="row">
   <div class="col-md-12">
     <h2 class="text-center" style="margin: 20px;"><u>All wikis</u></h2>
     <% if @wikis.count > 0 %>
       <% @wikis.each do |wiki| %>
          <% if show_wiki?(wiki) %>
           <div class="media" style="margin: 40px;">
             <div class="media-body">
               <h4 class="media-heading text-center">
                 <%= link_to wiki.title, wiki %>
               </h4>
             </div>
           </div>
          <% end %>
        <% end %>
      <% else %>
         <h3 class="text-center" style="margin: 20px;">Bummer!There are no wikis available for public view!</h3> 
      <% end %>
   </div>
</div>
